* {
  /*-----------------------------------------------------------------------
    * note: sans-serif, if fail then it is the fallback (can be many)
            - wag lang kay times new roman
            - fonts is a big factor in design
    
    I also included my modification that I found suited for the design
  ------------------------------------------------------------------------*/

  font-family: "Roboto", "Montserrat", "Poppins", "Inter", sans-serif;
}

/* ** UNIQUE ** */
.img-wrapper {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

#PROFILE {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.img-wrapper:hover #PROFILE {
  transform: scale(1.1);
}

#PROFILE::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

#PROFILE:hover::before {
  transform: scale(1.1) translateZ(0);
}

#LANDING {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ** OTHER CSS ** */
body {
  /* ***addon by me*** */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: linear-gradient(132deg, #ffe7ea, #f091e3, #80e5ff);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;

  /* background-color: #ffe7ea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff3f4'/%3E%3Cstop offset='1' stop-color='%23fff3f4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23be73ff'/%3E%3Cstop offset='1' stop-color='%23be73ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2380e5ff'/%3E%3Cstop offset='1' stop-color='%2380e5ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFE7EA'/%3E%3Cstop offset='1' stop-color='%23FFE7EA' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #333;
}

p,
a {
  font-family: "Roboto", sans-serif;
  color: #000;
}

a {
  font-weight: 900;
}
